{{#*inline "body"}}
<main class="site-main">

    {{#with post}}
        {{> partials/content width="full"}}
    {{/with}}

    {{#is "post"}}
        {{#if @root.custom.show_related_posts}}
            {{> partials/related-posts}}
        {{/if}}

        {{#with post}}
            {{> partials/comments}}
        {{/with}}
    {{/is}}

</main>
{{/inline}}
{{> default}}