{{#*inline "body"}}
<main class="site-main">

    <header class="feed-header gh-canvas">
        {{#if @root.custom.feed_title}}
            <div class="feed-header-wrapper">
                <h2 class="feed-header-title">{{@root.custom.feed_title}}</h2>
            </div>
        {{/if}}
    </header>

    <div class="post-feed{{#match @root.custom.feed_layout "!=" "Minimal"}} expanded{{/match}}{{#match @root.custom.feed_layout "Right thumbnail"}} right-thumbnail{{/match}}{{#match @root.custom.feed_layout "Text-only"}} text-only{{/match}} gh-feed gh-canvas">
        {{#foreach posts}}
            {{> partials/loop}}
        {{/foreach}}
    </div>

    {{pagination}}

</main>

{{/inline}}
{{> default}}